* {
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}
.main {
    display: inline-flex;
    width: 100%;
}
.page {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 1);
}
.navigation_wrapper {
    padding: 10px 16px;
    align-items: center;
    justify-content: space-between;
    background: rgb(198, 197, 251);
    left: 0;
}
.navigation_items {
    position: sticky;
    top: 10px;
    display: table;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    top: 50%;
    transform: translate(0, -50%);
}
.navigation_button {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none; /* no underline */
    /* margin-left: 15px; */
}
.navigation_button:hover {
    background-color: rgb(129, 128, 193);
    border-radius: 24px;
}
.a {
    color: rgb(255, 255, 255);
    text-decoration: none; /* no underline */
    margin-left: 15px;
}
.container {
    position: relative;
    width: 25%;
    border-radius: 50%;
    cursor: pointer;
}
.image {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #0000008c;
}
.container:hover .overlay {
    opacity: 1;
}
.text {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.764);
    font-size: 2vw;
    position: relative;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.subtext {
    font-size: 1vw;
}
.modal {
    background-color: rgb(129, 128, 193);
    padding: 23px;
    border: 1px solid rgb(0, 0, 0);
    width: 80%;
    border-radius: 24px;
    text-align: left;
    font-size: 15px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-top: 140px;
}
.close {
    font-weight: bold;
    float: right;
    margin-top: -5%;
    margin-right: -2%;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
li:not(:last-child) {
    margin-bottom: 5px;
}
.footer {
    color: rgb(151, 149, 251);
    background: rgb(255, 255, 255);
    margin-left: 75px;
}
.modal-card {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.766);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    backdrop-filter: blur(15px);
}
.close-card {
    font-weight: bold;
    float: right;
    margin-left: 440px;
    margin-top: 10px;
}
.close-card:hover,
.close-card:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.headings {
    width: 1000px;
    height: 700px;
    position: absolute;
    background-color: rgb(129, 128, 193);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 24px;
    overflow: auto;
}
.headings::-webkit-scrollbar {
    width: 10px;
}
.headings::-webkit-scrollbar-thumb {
    background: #c2c9d23d;
    border-radius: 100px;
}
.headings::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 25px;
}
.headings::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 25px;
}
.modal-image {
    border-radius: 50%;
    display: table;
    margin: auto;
    -webkit-box-shadow: 0 0 19px 10px rgba(255, 255, 255, 0.396);
    -moz-box-shadow: 0 0 19px 10px rgba(255, 255, 255, 0.396);
    box-shadow: 0 0 19px 10px rgba(255, 255, 255, 0.396);
}
.details1 {
    margin: 20px 20px 20px 40px;
}
.details2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.details-title {
    margin-top: 15px;
    margin-bottom: 5px;
    color: rgb(249, 224, 154);
    width: 200px;
    font-weight: 700;
    font-size: 16px;
    text-shadow: 2px 2px #000000;
}
.details-text {
    margin-left: 10px;
    margin-top: 2px;
    font-weight: 500;
    font-size: 14px;
    color: black;
}
.ticket {
    position: relative;
    box-sizing: border-box;
    width: 300px;
    height: auto;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(249, 224, 154);
    font-size: 14px;
    color: black;
    -webkit-box-shadow: 0 0 5px 2px #fff;
    -moz-box-shadow: 0 0 5px 2px #fff;
    box-shadow: 0 0 5px 2px #fff;
}
.ticket:before,
.ticket:after {
    content: '';
    position: absolute;
    left: 5px;
    height: 6px;
    width: 290px;
}
.ticket:before {
    top: -5px;
    background: radial-gradient(circle, transparent, transparent 50%,#ffc107 50%, #ffc107 100%) -7px -8px / 16px 16px repeat-x;
}
.ticket:after {
    bottom: -5px;
    background: radial-gradient(circle, transparent, transparent 50%, #ffc107 50%, #ffc107 100%) -7px -2px / 16px 16px repeat-x;
}
.hidden {
    display: none;
}
#map {
    height: 320px;
    width: 920px;
    margin: auto auto 30px;
    border-radius: 10px;
}
