<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.3">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  <link href="static/css/style.css" rel="stylesheet" />
  <title>Groupie Tracker</title>
  <link rel="icon" type="image/png" href="../static/assets/note.png" />
</head>

<body>
  <!-- Artist Details Modal -->
  <div class="modal-card" id="modalCard" style="display: {{.display}};">
    <div class="headings">
      <div style="display: inline-flex;">
        {{with .artist}}
        <div class="details1">
          <img class="modal-image" id="imageModal" src={{.Image}} width="125px" height="125px" />
          <div style="margin-left: 10px;">
            <div class="details-title">Artist Name: </div>
            <div id="artistNameModal">{{.Name}}</div>
            <div class="details-title">Foundation Date: </div>
            <div id="creationDateModal">{{.CreationDate}}</div>
            <div class="details-title">First Album: </div>
            <div id="firstAlbumModal">{{.FirstAlbum}}</div>
            <div class="details-title">Members: </div>
            <div id="membersModal">
              {{range .Members}}
              <p>{{.}}</p>
              {{end}}
            </div>
            {{end}}
          </div>
        </div>
        <div class="details2">
          <div class="details-title">Concerts: </div>
          <div id="concertsModal" style="display: grid; grid-template-columns: 200px 200px; column-gap: 150px;">
            {{with .relation}}
            {{range $loc, $dates := .DatesLocations}}
            <p class="ticket">{{$loc}}: {{range $i, $k := $dates}}{{if $i}}, {{end}}{{$k}}{{end}}</p>
            {{end}}
            {{end}}
          </div>
        </div>
        <span style="position:fixed; margin-left: 970px;" class="close-card">&times;</span>
      </div>
      <!-- Map -->
      <div id="locations">{{.Location}}</div>
      <div id="map" style="margin-top:15px"></div>
    </div> <!-- End of Modal -->
  </div>
  </div>
  <!-- /Artist Details Modal -->

  <!-- Main Page -->
  <div class="main">
    <!-- Navigation -->
    <div class="navigation_wrapper">
      <div class="navigation_items">
        <div>
          <img src="../static/assets/logo.png" width="250" height="250" class="logo" />
        </div>
        <!-- Home -->
        <a href="http://localhost:8080" class="navigation_button">
          <div>
            <img src="../static/assets/home.png" width="25" height="25" class="logo" />
          </div>
          <div style="margin-left:18px">Home</div>
        </a>
        <!-- Search -->
        <a href="#" class="navigation_button">
          <div>
            <img src="../static/assets/search.png" width="25" height="25" class="logo" />
          </div>
          <div style="margin-left:18px">Search</div>
        </a>
        <!-- Filters -->
        <a href="javascript:;" onclick="showFilters();" class="navigation_button">
          <div>
            <img src="../static/assets/filter.png" width="25" height="25" class="logo" />
          </div>
          <div style="margin-left:18px">Filters</div>
        </a>
        <!-- Geoloc might add it might not-->
        <!-- <div class="navigation_button">
          <div>
            <img src="../static/assets/navigation.png" width="25" height="25" class="logo" />
          </div>
          <div>
            <a href="#" class="a">Geolocalization</a>
          </div>
        </div> -->
        <!-- Credits -->
        <a id="creditsButton" class="navigation_button">
          <div>
            <img src="../static/assets/credits.png" width="25" height="25" class="logo" />
          </div>
          <div style="margin-left:18px">Credits</div>
        </a>
        <div class="modal" id="modalCredits">
          <span class="close">&times;</span>
          <ul>
            <li>Cute Astronauts by catalyststuff (freepik.com)</li>
            <li>Navigation icons by inkubators (icons8.com)</li>
            <li>Favicon by Icons8 (icons8.com)</li>
          </ul>
        </div>
        <!-- /Credits -->
      </div>
    </div>
    <!-- /Navigation -->

    <!-- Filter -->
    <div class="filter-container" id="filterContainer">
      <div class="navigation_button">
        <div>
          <img src="../static/assets/navigation.png" width="25" height="25" class="logo" />
        </div>
        <div>
          <a href="#" class="a">Random</a>
        </div>
      </div>
    </div>
    <!-- /Filter -->

    <!-- Discography -->
    <div class="page">
      {{with .artists}}
      {{range .}}
      <div class="container" id="card_container_{{.ID}}" onclick="openModal('{{.ID}}');">
        <img src={{.Image}} id="discographyImage_{{.ID}}" class="image">
        <form id="modal_{{.ID}}" method="POST" action="/">
          <input type="hidden" name="artistID" value="{{.ID}}">
        </form>
        <div class="overlay">
          <div class="text">
            <div id="{{.ID}}" class="details">
              <a class="name" id="artistName_{{.ID}}">{{.Name}}</a>
              <div class="subtext">
                <span>Creation Date: </span><a id="creationDate_{{.ID}}">{{.CreationDate}}</a>
              </div>
              <div class="subtext">
                <span>First Album Release: </span><a id="firstAlbum_{{.ID}}">{{.FirstAlbum}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{end}}
      {{end}}
    </div>
    <!-- /Discography -->
  </div>
  <!-- /Main Page -->
  <footer class="footer">
    <script src="static/js/script.js"></script>
    &copy; okuu &amp; jjelisav
  </footer>
</body>

</html>