<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link href="static/css/style.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="../static/assets/note.png" />
  <title>Groupie Tracker</title>
</head>

<body>
  <!-- Artist Details Modal -->
  <div class="modal-card" id="modalCard">
    <div class="headings">
      <div style="display: inline-flex;">
        <img class="modal-image" id="imageModal" src="" width="125px" height="125px" />
        <div style="width: 350px; margin-left: 10px;">
          <div class="members">Artist Name: </div>
          <div id="artistNameModal"></div>
          <div class="members">Foundation Date: </div>
          <div id="creationDateModal"></div>
          <div class="members">First Album: </div>
          <div id="firstAlbumModal"></div>
          <div class="members">Members: </div>
          <div id="membersModal"></div>
          <div class="members">Concert Dates: </div>
          <div id="datesModal"></div>
          <div class="members">Concert Locations: </div>
          <div id="locationsModal"></div>
        </div>
        <span style="position:fixed; margin-left: 970px;" class="close-card">&times;</span>
      </div>

      <div class="map">
        Google Map will go here:
        <img src="../static/assets/where.png" width="350px" height="350px" />
      </div>

    </div>
  </div>
  <!-- /Artist Details Modal -->

  <!-- Main Page -->
  <div class="main">
    <!-- Navigation -->
    <div class="navigation_wrapper">
      <div class="navigation_items">
        <div>
          <img src="../static/assets/logo.png" width="250px" height="250px" class="logo" />
        </div>
        <!-- Home -->
        <a href="http://localhost:8080" class="navigation_button">
          <div>
            <img src="../static/assets/home.png" width="25" height="25" class="logo" />
          </div>
          <div style="margin-left:18px">Home</div>
        </a>
        <!-- Search -->
        <a href="#" class="navigation_button">
          <div>
            <img src="../static/assets/search.png" width="25" height="25" class="logo" />
          </div>
          <div style="margin-left:18px">Search</div>
        </a>
        <!-- Filters -->
        <a href="javascript:;" onclick="showFilters();" class="navigation_button">
          <div>
            <img src="../static/assets/filter.png" width="25" height="25" class="logo" />
          </div>
          <div style="margin-left:18px">Filters</div>
        </a>
        <!-- Geoloc might add it might not-->
        <!-- <div class="navigation_button">
          <div>
            <img src="../static/assets/navigation.png" width="25" height="25" class="logo" />
          </div>
          <div>
            <a href="#" class="a">Geolocalization</a>
          </div>
        </div> -->
        <!-- Credits -->
        <a href="javascript:;" id="myBtn" class="navigation_button">
          <div>
            <img src="../static/assets/credits.png" width="25" height="25" class="logo" />
          </div>
          <div style="margin-left:18px">Credits</div>
          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <ul>
                <li>Cute Astronauts by catalyststuff (freepik.com)</li>
                <li>Navigation icons by inkubators (icons8.com)</li>
                <li>Favicon by Icons8 (icons8.com)</li>
              </ul>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- /Navigation -->

    <!-- Filter -->
    <div class="filter-container" id="filterContainer">
      <div class="navigation_button">
        <div>
          <img src="../static/assets/navigation.png" width="25" height="25" class="logo" />
        </div>
        <div>
          <a href="#" class="a">Random</a>
        </div>
      </div>
    </div>
    <!-- /Filter -->

    <!-- Discography -->
    <div class="page">
      {{range .}}
      <div class="container" id="card_container_{{.ID}}" onclick="openModal('{{.ID}}');">
        <img src={{.Image}} id="discographyImage_{{.ID}}" class="image">
        <div class="overlay">
          <div class="text">
            <div id="{{.ID}}" class="details">
              <a class="name" id="artistName_{{.ID}}">{{.Name}}</a>
              <div class="subtext">
                <span>Creation Date: </span><a id="creationDate_{{.ID}}">{{.CreationDate}}</a>
              </div>
              <div class="subtext">
                <span>First Album Release: </span><a id="firstAlbum_{{.ID}}">{{.FirstAlbum}}</a>
              </div>
              <div class="hidden">
                <span>Members: </span><a id="members_{{.ID}}"> {{range .Members}}
                  <p>{{.}}</p>
                  {{end}}
                </a>
              </div>
              <div class="hidden">
                <span>Concert Dates: </span><a id="dates_{{.ID}}">{{.ConcertDates}}</a>
              </div>
              <div class="hidden">
                <span>Concert Locations: </span><a id="locations_{{.ID}}">{{.Locations}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{end}}
    </div>
    <!-- /Discography -->
  </div>
  <!-- /Main Page -->
  <footer class="footer">
    <script src="static/js/script.js"></script>
    &copy; okuu &amp; jjelisav
  </footer>
</body>

</html>